<div class="wrapper">
    <br><br><br><br><br><br>
    
<div class="container">
    <div class="row">
        
        <div class="col-lg-12 mr-auto ml-auto">
<!---->
 <div> 
    <div class="card">
        <div class="card-header  bg-dark">
          
        </div>
        <div class="card-body bg-dark">
            
  <form align = "center" #tokenForms="ngForm" (ngSubmit)="tokenForms.valid && onSubmit(tokenForms)">
      <div class="form-group row">
  <label class="col-sm-2 col-form-label color=red text-danger"> <h5> Name : </h5></label>
  <div class="col-sm-10">
    <input _ngcontent-c4="" name="nom"  #nom="ngModel" [(ngModel)]="name" class="form-control" placeholder="Name" type="text"><br><br></div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-danger"> <h5>Symbol :</h5> </label>
        <div class="col-sm-10">
    <input _ngcontent-c4="" name="symbols"  #symbols="ngModel" [(ngModel)]="symbol" class="form-control" placeholder="Default" type="text"><br><br></div>
        </div>
    
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-danger"> <h5>Granularity :</h5>  </label>
            <div class="col-sm-10">
        <input _ngcontent-c4="" name="granularity"  #symbols="ngModel" [(ngModel)]="granularity" class="form-control" placeholder="granularity" type="text"><br><br></div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label text text-danger"> <h5>Controllers :</h5> </label>
                <div class="col-sm-10">
            <input _ngcontent-c4="" name="controllers"  #symbols="ngModel" [(ngModel)]="controllers" class="form-control" placeholder="controllers" type="text"><br><br></div>
                </div>        
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-danger"> <h5> Certificate Signers :</h5></label>
                    <div class="col-sm-10">
                <input _ngcontent-c4="" name="certificateSigners"  #symbols="ngModel" [(ngModel)]="certificateSigners" class="form-control" placeholder="certificate Signers" type="text"><br><br></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-danger">  <h5> Partitions :</h5></label>
                        <div class="col-sm-10">
                    <input _ngcontent-c4="" name="partitions"  #symbols="ngModel" [(ngModel)]="partitions" class="form-control" placeholder="Partitions" type="text"><br><br></div>
                        </div>
                    

    <button _ngcontent-c4="" class="btn btn-danger active btn-round" type="submit">Create</button>
  </form>

</div>
  </div>
 </div>
        </div>
       
        </div>
  </div> 

</div>




